.app {
  text-align: center;
  margin-top: 50px;
}

.shoutouts-container {
  margin-top: 20px;
}

.shoutout {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.shoutout-message {
  font-weight: bold;
}